/*------------------------------------------------GENERALS----------------------------------------------*/
html, body{

	margin: 0 auto;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color: #f8ecdf;
	background-color: #f2f3f4;
    font-size: 1em;
	color: black;
	height:100vh;
	width:100vw;
	
}
/*------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------Body-------------------------------------------------*/
#body
{
	position:absolute;
	height:100%;
	width: 100vw;
	z-index: 1;
    overflow:hidden;
    background-image: url('http://localhost/Blog/images/red_background_1.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}
/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------HEAD------------------------------------------------*/
#head
{
	margin:2em;
    min-height:2em;
    overflow:hidden;
}
#textarea_author_container
{
	position: relative;
	float:left;
	width:45%;
}
#textarea_tag_container
{
	position: relative;
	float:right;
	width:45%;
}
.textarea_general
{
	resize: none;
	overflow: hidden;
	height:1.5em;
	width:100%;
	background-color: #cacaca;

}
#textarea_label
{
    text-align: center;
    color:white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#textarea_author
{

}
#textarea_tag
{

}
.selected_container
{
	/*background-color: grey;*/
	width:100%;
	overflow:hidden;
}
.selected
{
	background-color: black;
	color:#cacacc;
	opacity:0.7;

	border-top-left-radius:0.6em;
	border-bottom-right-radius:0.6em; 
	border-top-right-radius:0.1em;
	border-bottom-left-radius:0.1em;

    margin:0.5em;
    padding:0.25em;

	position:relative;
	float:left;
}
.selected_content
{
	position: relative;
    float:left;
    margin-right:1em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selected_x
{
	font-size: 0.8em;
	background-color:#383838;
	color:black;
	padding:0.1em;
	border-radius:50%;
	text-align: center;
	position: relative;
    float:right;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selected_x:hover
{
	cursor:pointer;
	box-shadow: 0px 0px 3px white;
}
/*------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------CONTENT----------------------------------------------*/
#contents 
{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    margin:1em;
    overflow-y: scroll;
    border:1px solid black;
}
#contents::-webkit-scrollbar
{ 
    display: none;
}
.container
{
	margin:2em;
	padding:1.2em;

	color:#cacaca;
	background-color: #a01215;

	position:relative;
	float:left;

	border-top-left-radius:1.2em;
	border-bottom-right-radius:1.2em; 
	border-top-right-radius:0.2em;
	border-bottom-left-radius:0.2em;

	box-shadow:0px 0px 6px #000; 
}
.quote
{
    text-align:center;
}
.footer
{
    background-color: white;
    font-size:0.7em;
    color:grey; 
}
.author
{
	float:right;
}
/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------DROPDOWN--------------------------------------------*/
.dropdown_container
{
	position:fixed;
	top:80px;
	left:20px;

	color:#cacaca;

	width:45%;
	max-height:20vh;

	overflow-y:scroll;
	-ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.dropdown_container::-webkit-scrollbar
{ 
    display: none;
}
.dropdown_element
{
    padding:0.5em;
    opacity:0.6;
    background-color: black;
    cursor:pointer;
}
/*.dropdown_element:hover
{
    opacity:1;
}*/
.dropdown_hover
{
	opacity:1;
}


/*------------------------------------------------------------------------------------------------------*/